.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 90px;
    padding: 40 50px;
    margin-bottom: 1.1%;
    background-color: #3c3c3c;
    color: #fff;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right {
    position: relative;
}

.userButton {
    display: flex;
    align-items: center;
    gap: 12px;

    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: #fac30f;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    clip-path: polygon(25% 6.7%,
            75% 6.7%,
            100% 50%,
            75% 93.3%,
            25% 93.3%,
            0% 50%);
            transform: rotate(90deg);
}

.avatar svg {
  transform: rotate(-90deg);
}

.userInfo {
    text-align: left;
    line-height: 1.3;
}

.userInfo p:first-child {
    font-size: 16px;
    font-weight: 500;
}

.userInfo p:last-child {
    font-size: 14px;
    font-weight: 500;
    color: #9e9e9e;
}

.dropdown {
    position: absolute;
    right: 0;
    top: calc(100% + 8px);
    
    width: 180px;
    background-color: #111;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown button {
    font-size: 14px;
    width: 100%;
    padding: 10px 12px;
    background: none;
    border: none;
    color: #fff;
    text-align: left;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: #1f2937;
}

.logout {
    color: #f87171 !important;
}