/*Mapa*/
.mapWrapper {
  overflow: hidden;
  transition:
    max-height 0.35s ease,
    opacity 0.25s ease,
    transform 0.35s ease,
    margin-right 0.4s ease;
  transform-origin: top;
}

.mapWrapper.hide {
  max-height: 0;
  opacity: 0;
  transform: translateY(-12px);
  pointer-events: none;
}

.mapWrapper.show {
  width: 97%;
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

/* Ajuste cuando summary está visible */
.mapWrapper.summaryActive {
  margin-right: 550px;
}

/*Summary*/
.summary {
  position: fixed;
  top: 19%;
  right: 0;
  width: 550px;
  margin: 0px 10px;
  height: 100vh;
  background: #fff;
  box-shadow: -8px 0 24px rgba(0, 0, 0, 0.08);
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 30;
  overflow-y: auto;
}

.summaryVisible {
  transform: translateX(0);
}

/*Boton flotante*/
.summaryToggle {
  position: fixed;
  right: -6px;
  top: 23%;
  z-index: 40;
  background: #fff;
  color: #000;
  border-radius: 5px;
  padding: 10px 14px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0px #000;
  transition: right 0.4s ease;
}

.summaryToggle.summaryActive {
  display: none;
}

.summaryToggleCircle {
  position: fixed;
  right: 45px;
  top: 24%;
  z-index: 40;
  background: #fff;
  color: #000;
  border-radius: 100px;
  padding: 0px;
  cursor: pointer;
  transition: right 0.4s ease;
}

.summaryToggleCircle.summaryActive {
  top: 20%;
  right: 0px;
}

/* Contenedor para ProjectTable y otros elementos */
.contentWrapper {
  transition: margin-right 0.4s ease;
  margin: 10px 50px 0 50px;
}

.contentWrapper.summaryActive {
  margin-right: 600px;
}