/* Wrapper - scroll */
.wrapper {
  max-height: 720px;
  overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
}

.wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 10px;
}

/* Tabla */
.table {
  width: 100%;
  border-spacing: 0;
  font-size: 18px;
}

.table thead th {
  text-align: left;
  font-weight: 500;
  color: #8a9a9a;
  padding: 0 16px 8px;
  white-space: nowrap;
}

.table tbody tr {
  background: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.table tbody tr:hover td {
  background: #f6f6f6;
}

.table tbody tr:hover td:first-child {
    border-left: 5px solid #f5aa67;
}

.table tbody tr.active td:first-child {
    border-left: 5px solid #f5aa67;
}

.table tbody td {
  padding: 25px;
  border-bottom: 1px solid #e6e6e6;
  transition: background 0.2s ease, border-left 0.2s ease;
}


/* Variante compacta */ 
.tableCompact {
  width: 70%;
  border-spacing: 0;
  font-size: 13px;
  table-layout: fixed;
}

.tableCompact thead th {
  text-align: left;
  font-weight: 500;
  color: #8a9a9a;
  padding: 0 4px 6px;
  white-space: nowrap;
  font-size: 12px;
}

.tableCompact tbody tr {
  background: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}


.tableCompact tbody td {
  padding: 8px 4px;
  border-bottom: 1px solid #e6e6e6;
  transition: background 0.2s ease, border-left 0.2s ease;
  font-size: 13px;
}

