/* Columna Proyecto */
.projectCell {
    display: flex;
    align-items: center;
    gap: 16px;
}

.projectImage {
    border-radius: 8px;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.projectTitle {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.projectDates {
    display: flex;
    gap: 14px;
    font-size: 16px;
    color: #8a8a8a;
}

.projectDates span {
    display: flex;
    align-items: center;
    gap: 6px;
}


/*Columna Plan y Status*/
.label {
    border-radius: 30px;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
}

/*Columna Plan*/
.plan_small {
    background-color: #c35a00;
    color: #fff;
}

.plan_big {
    background-color: #7d7d7d;
    color: #fff;
}

/*Columna Status*/
.status_active {
    background-color: #dcf0dc;
    color: #1d863b;
}

.status_pending_payment {
    background-color: #fff4cc;
    color: #b58b00;
}

.status_inactive {
    background-color: #fde2e2;
    color: #b3261e;
}

/*Columna Equipo*/
.team > div{
    display: flex;
}

.avatar {
    width: 55px;
    height: 40px;
    background: #ffe9b3;
    color: #333;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;

    transform: rotate(90deg);
    clip-path: polygon(25% 6.7%,
            75% 6.7%,
            100% 50%,
            75% 93.3%,
            25% 93.3%,
            0% 50%);
}

.team span p {
    transform: rotate(-90deg);
}

/*Columna Items por vencer*/
.statsCell > div {
    display: flex;
    gap: 24px;
}

.stat {
    display: flex;
    flex-direction: column;
}

.value {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.labelText {
    font-size: 18px;
    color: #8a8a8a;
    margin-top: 2px;
}