.container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  height: 50px;
  width: 270px;
}

.container input {
  height: 100%;
  font-size: 20px;
  padding-left: 20px !important;
}

.icon {
  position: absolute;
  right: 12px;
  color: #737777;
  pointer-events: none;
}